@model ErrorViewModel
@{
    ViewData["Title"] = $"{ViewData["Title"]}{Model?.PageTitleSuffix ?? string.Empty}";
}

<div>
    @if (Model?.ShowErrorCode is true)
    {
        <header>
            <h2 id="Cards">@Model.ErrorCode</h2>
        </header>
    }
    <div class="terminal-card">
        <div class="row">
            <p>An error occurred while processing your request. ¯\(°_°)/¯</p>
            <p>Please wait a few minutes before you try again.</p>
        </div>
    </div>
</div>