<footer>
    <hr>
    <div class="row">
        <div class="col-3 left">
            <a class="terminal-prompt" href="#top">Top</a>
        </div>
        <div class="col-9 right">
            &copy; @DateTime.Now.Year Dawid Jachowicz
            <p>Made with <a href="https://terminalcss.xyz/">Terminal CSS</a> and <a href="https://simplegrid.io/">Simple Grid</a></p>
        </div>
    </div>
    <br>
</footer>