<footer>
    <hr>
    <div class="row">
        <div class="col-3 left">
            <a class="terminal-prompt" href="#top">Top</a>
        </div>
        <div class="col-9 right">
            &copy; @DateTime.Now.Year Dawid Jachowicz
        </div>
    </div>
    <br>
</footer>