@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>
    <header>
        <h2 id="Cards">Error</h2>
    </header>
    <div class="terminal-card" style="cursor: pointer;">
        <div class="row">
            <p>An error occurred while processing your request.</p>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </div>
    </div>
</div>